name: contineous integration
on: push
jobs:
  pahilo:
    runs-on: ubuntu-latest
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: Install Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: 18          
      - name : install dependencies
        run: npm install got@latest
      - name : Run Test
        run: npm test
  deploy:
    needs: pahilo
    runs-on: ubuntu-latest
    steps: 
      - name: get code
        uses: actions/checkout@v3